<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="ClassLibrary1" value="ClassLibrary1\bin\Debug" />
    <add key="ClassLibrary2" value="ClassLibrary2\bin\Debug" />
  </packageSources>
</configuration>
